// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #4E342E;
$secondary : #3E2723;
$accent    : #3F51B5;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
